################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Fenraz.ShiftPayment/v15/Server/sqlite3/storage.ide-wal
/.vs/Fenraz.ShiftPayment/v15/Server/sqlite3/storage.ide-shm
/.vs/Fenraz.ShiftPayment/v15/Server/sqlite3/storage.ide
/.vs/Fenraz.ShiftPayment/v15/Server/sqlite3/db.lock
/.vs/Fenraz.ShiftPayment/v15/Server/sqlite3
/.vs/Fenraz.ShiftPayment/v15/.suo
/.vs/Fenraz.ShiftPayment/v15
/Fenraz.ShiftPayment/obj/Release
/Fenraz.ShiftPayment/bin/Release
